div#header {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-backdrop-filter: blur(14px);
            backdrop-filter: blur(14px);
    z-index: 256;
}

div#content {
    margin-top: 60px;
    padding: 20px;
}

div.section {
    margin-bottom: 40px;
}

li.list-inline-item.sponsor img {
    width: 160px;
}